/* ------------- ROOT VARIABLES ------------- */
:root {
  --color-primary: #ff9f1c;
  --color-primary2: #ffbf69;
  --color-secondary: #cbf3f0;
  --color-secondary2: #2ec4b6;
}

* {
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url("/src/img/ui/bg_pattern.jpg");
  background-repeat: repeat;
  background-size: 300px;
}

/* HOLY GRAIL */
.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

header {
  background-color: rgba(255, 255, 255, .7);
}

main {
  grid-area: content;
  padding-bottom: 100px;
}

footer {
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER + NAVBAR*/

header .logo img {
  width: 8rem;
  margin: 1rem;
}

header nav{
  margin-right: 2rem;
}
header nav a {
  margin: 0.5rem; /* espaçamento entre os botões */
  color: white;
  border: none;
  background: none;
  font-size: 1.5rem;
  text-decoration: none; /* sem sublinhado */
  border-radius: 40px; /* Estilo  arredondado */
  padding: 10px 20px; /* Espaçamento interno */
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  background-color: var(--color-primary);
}

header nav a:hover {
  background-color: var(--color-primary2);
  color: white;
}

/* MAIN CONTENT */

.slide-show {
  justify-items: center;
  margin: 2rem auto;
  position: relative;
  width: 85%;
  height: 500px;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  box-shadow: 1px 1px 3px gray;
}

.slide-show img {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.pets-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pets-container .pet {
  width: 400px;
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 3%;
  box-shadow: 1px 1px 3px gray;
}

.pets-container .pet .pet-image {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  border-radius: 2%;
  align-items: center;
}

.pets-container .pet .pet-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  text-decoration: none;
}

.info-pet {
  width: 75%;
  text-decoration: none;
}

.info-pet p {
  text-align: left;
  margin: 0;
  align-items: center;
}

.info-pet h1 {
  margin: 0;
  font-size: 4rem;
}

.info-pet a{
  text-decoration: none;
  color: black;
}

.info-pet h3 {
  margin: 0;
  text-align: center;
}

.info-pet h4 {
  margin: 0;
  text-align: right;
}

.info-pet .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-pet .learn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.info-pet .learn span {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.info-pet a {
  text-decoration: none;
  color: black;
}

footer .footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

footer a{
  margin: 0.4rem;
}

/* Contact CONTENT */
.textbox {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: var(--color-primary2);
  text-align: center;
  line-height: auto;
  margin-right: auto;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.formbox {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="subject"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-primary2);
}

input[type="submit"] {
  background-color: var(--color-primary2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.center {
  text-align: center;
}