/* ------------- ROOT VARIABLES ------------- */
:root {
  --color-primary: #ff9f1c;
  --color-primary2: #ffbf69;
  --color-secondary: #cbf3f0;
  --color-secondary2: #2ec4b6;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/src/img/ui/bg_pattern.jpg");
  background-repeat: repeat;
  background-size: 300px;
}

/* HOLY GRAIL */
.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

header {
  background-color: rgba(255, 255, 255, 0.7);
}

main {
  grid-area: content;
  padding-bottom: 100px;
}

footer {
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER + NAVBAR*/

header .logo img {
  width: 8rem;
  margin: 1rem;
}

header nav {
  margin-right: 2rem;
}
header nav a {
  margin: 0.1rem; /* espaçamento entre os botões */
  color: white;
  border: none;
  background: none;
  font-size: 1.5rem;
  text-decoration: none; /* sem sublinhado */
  border-radius: 40px; /* Estilo  arredondado */
  padding: 5px 10px; /* Espaçamento interno */
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  background-color: var(--color-primary);
}

header nav a:hover {
  background-color: var(--color-primary2);
  color: white;
}

/* MAIN CONTENT */

.slide-show {
  justify-items: center;
  margin: 2rem auto;
  position: relative;
  width: 85%;
  height: 500px;
  overflow: hidden;
}

.slide-show img {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.pets-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pets-container .pet {
  width: 400px;
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 3%;
  box-shadow: 1px 1px 3px gray;
}

.pets-container .pet .pet-image {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  border-radius: 2%;
  align-items: center;
}

.pets-container .pet .pet-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  text-decoration: none;
}

.info-pet {
  width: 75%;
  text-decoration: none;
}

.info-pet p {
  text-align: left;
  margin: 0;
  align-items: center;
}

.info-pet h1 {
  margin: 0;
  font-size: 4rem;
}

.info-pet a {
  text-decoration: none;
  color: black;
}

.info-pet a:hover {
  color: var(--color-primary);
}

.info-pet h3 {
  margin: 0;
  text-align: center;
}

.info-pet h4 {
  margin: 0;
  text-align: right;
}

.info-pet .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-pet .learn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.info-pet .learn span {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.info-pet .learn:hover {
  color: var(--color-primary);
  font-style: italic;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

footer a {
  margin: 0.4rem;
}

/* Contact CONTENT */

.center img {
  margin-top: 3rem;
  width: 80%;
}
.center {
  display: flexbox;
  justify-content: center;
  margin: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 5rem;
}

.center h1 {
  font-size: 8rem;
  text-align: center;
}

.center .info {
  margin: 2rem 0;
}

.center .info p {
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
  text-align: justify;
}

.center .contacts {
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
}
.center .contacts th {
  background-color: var(--color-primary2);
}

.center .contacts th, td {
  border: 2px solid black;
}

.center .contacts tfoot td {
  border: none;
  border-bottom: 1px solid black;
}

.center .contacts a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  margin: 1rem;
}

.center .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  background-color: rgba(255, 255, 255, 0.9);
}

.center .form h2 {
  text-align: center;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formbox {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="subject"],
textarea {
  padding: 10px;
  border-radius: 55px;
  border: 1px solid var(--color-primary);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-primary2);
}

input[type="submit"] {
  background-color: var(--color-primary2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ABOUT US CONTENT */

.content {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content img {
  width: 80%;
  margin-right: 20px;
}

.mission-info {
  flex: 1;
  margin-bottom: 0;
}

.mission-info h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: -1rem;
  margin-right: 2rem;
}

.vision-info h1,
.history-info h1 {
  font-size: 4rem;
  margin-bottom: -1rem;
  margin-left: 1rem;
  text-align: left;
}

.mission-info p {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.vision-info p,
.history-info p {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bottomImage {
  position: relative;
  width: 100%;
  height: auto;
}

#faq:hover {
  cursor: pointer;
}

#result dl, 
#result dt, 
#result dd {
    text-align: justify;
    font-size: 1.5rem;
  }

#result dd {
    display: none;
}

#result dl {
  margin-bottom: 4rem;
}

#result span {
  color: var(--color-primary);
  font-weight: bold;
}

#result dt {
  font-weight: bold;
  cursor: pointer;
}

/* ADOPT A PET */

.big-image img, .small-images img {
  object-fit: cover; /* Or you could use 'contain' */
  width: 100%;
  height: 100%;
}

.big-image img {
  width: 500px; /* Set to desired size */
  height: 500px; /* Set to desired size */
}

.small-images img {
  width: 150px;
  height: 150px;
}

.small-images {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adjust this value to increase or decrease the spacing */
}

.small {
  width: calc((100% - 20px) / 3); /* Deduct the total gap space and divide equally */
  opacity: 0.6;
  cursor: pointer;
}

.small:hover,
.small.active {
  opacity: 1;
}

#adopt h1 {
  font-size: 4rem;
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 0;
}

.adopt-pet {
  display: flex;
  margin: auto;
  justify-content: center;
}

.adopt-pet div {
  margin: 2rem;
}

#adopt .adopt-story {
  width: 50vw;
  text-align: justify;
  margin: auto;
  padding-bottom: 3rem;
}

.ask-share {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.ask-share .ask {
  background-color: var(--color-primary2);
  border-radius: 10px;
  padding: 2px 30px;
  box-shadow: 1px 1px 3px gray;
}

.ask-share .share {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary2);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding-right: 3px;
  padding-bottom: 1px;
  position: relative;
  left: -20px;
  box-shadow: 1px 1px 3px gray;
  cursor: pointer;
}

.ask-share a {
  text-decoration: none;
  color: black;
}

.faq-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  
  .content img {
    width: 95%;
  }

  .container p {
    font-size: 1.5rem;
  }

  #adopt .adopt-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: auto;
  }

  .big-image img, .small-images img {
    object-fit: cover; /* Or you could use 'contain' */
    width: 95%;
    height: 95%;
  }
  
  .big-image img {
    width: 350px; /* Set to desired size */
    height: 350px; /* Set to desired size */
  }
  
  .small-images img {
    width: 100px;
    height: 100px;
  }
  
  .small-images {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Adjust this value to increase or decrease the spacing */
  }

  #adopt .adopt-story {
    width: 90%;
  }
}